@model GLMS.Models.ServiceRequest

@{
    ViewData["Title"] = "Service Request Details";
}

<h1 class="mb-3">Service Request Details</h1>

<h4 class="text-success">Request</h4>
<hr class="border-success" />

<dl class="row">
    <dt class="col-sm-3">Contract</dt>
    <dd class="col-sm-9">@Model.Contract?.Description</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CostUSD)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.CostUSD)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CostZAR)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.CostZAR)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
    <dd class="col-sm-9">@Model.CreatedDate.ToShortDateString()</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServiceRequestId" class="text-success fw-semibold">Edit</a> |
    <a asp-action="Index" class="text-success fw-semibold">Back to List</a>
</div>